@{
    ViewData["TiTle"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Giới thiệu</h2>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Giới thiệu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="~/assets/images/about/banner/1-1-1920x598.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="about-banner-content">
                        <div class="section-title">
                            <span class="sub-title">Welcome To Harmic</span>
                            <h2 class="title font-size-60 mb-6">Thực Phẩm Sạch</h2>
                            <p class="short-desc mb-0">
                                Thực phẩm sạch là gì?
                                Câu hỏi “Thế nào là thực phẩm sạch?” có lẽ sẽ rất khó trả lời đúng nếu như chưa hiểu rõ về thực phẩm cũng như quá trình nuôi trồng, sản xuất, phân phối của nó.

                                Theo Viện Công Nghiệp Thực Phẩm Việt Nam, Thực phẩm sạch cần đảm bảo đầy đủ các yếu tố sau:

                                Không chứa tồn dư thuốc bảo vệ thực vật, hóa chất, kháng sinh cấm hoặc vượt quá giới hạn cho phép.

                                Không chứa những tạp chất có hại (kim loại, thủy tinh, vật cứng …).

                                Không chứa tác nhân sinh học gây bệnh (vi rút, vi sinh vật, ký sinh trùng).

                                Có nguồn gốc, xuất xứ đầy đủ, rõ ràng.

                                Được kiểm tra, đánh giá và có chứng nhận về an toàn thực phẩm.
                            </p>
                            <div class="button-wrap pt-8">
                                <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 align-self-center">
                    <div class="parallax-img-wrap">
                        <div class="papaya">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img style="width:100%;height:100%" src="~/assets/images/banner/inner-img/gioithieu.jpg" alt="Banner Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="intro-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white" data-bg-color="#aec581">
                        <div class="intro-icon mb-5">
                            <img style="width:20%;height:10%" src="~/assets/images/about/intro/global.jpg" alt="Intro Icon" />
                        </div>
                        <div class="intro-content">
                            <h3 class="title mb-4">1 – GlobalGAP</h3>
                            <p class="short-desc mb-0"> GlobalGAP là tên viết tắt của cụm từ Good Agricultura Pratices, có nghĩa là Thực hành nông nghiệp tốt toàn cầu. Đây là một bộ tiêu chuẩn tập hợp các biện pháp kỹ thuật về thực hành nông nghiệp. Tiêu chuẩn này được áp dụng cho sản xuất, thu hoạch và xử lý sau thu hoạch cho ngành trồng trọt, chăn nuôi, thủy sản trên phạm vi toàn cầu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                    <div class="intro-item text-white" data-bg-color="#b8a780">
                        <div class="intro-icon mb-5">
                            <img style="width:20%;height:10%" src="~/assets/images/about/intro/usda.png" alt="Intro Icon" />
                        </div>
                        <div class="intro-content">
                            <h3 class="title mb-4">2 – USDA Organic</h3>
                            <p class="short-desc mb-0">USDA Organic là viết tắt của từ United States Department of Agriculture, là chứng nhận hữu cơ của Bộ Nông Nghiệp Hoa Kỳ, Ủy ban Hữu cơ Quốc gia ban hành năm 2005. USDA là tổ chức duy nhất ở Mỹ có quyền hạn cấp chứng nhận hữu cơ cho các sản phẩm được sản xuất và tiêu dùng trên nước Mỹ. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                    <div class="intro-item text-white" data-bg-color="#b9cbe7">
                        <div class="intro-icon mb-5">
                            <img style="width:20%;height:10%" src="~/assets/images/about/intro/vietgap.jpg" alt="Intro Icon" />
                        </div>
                        <div class="intro-content">
                            <h3 class="title mb-4">3 – VietGAP</h3>
                            <p class="short-desc mb-0">
                                VietGAP (là từ viết tắt của Vietnamese Good Agricultural Practices) là một bộ Tiêu chuẩn thực hành nông nghiệp tốt tại Việt Nam, do Bộ Nông Nghiệp và Phát Triển Nông Thôn hoặc Bộ Khoa học và Công nghệ ban hành đối với từng sản phẩm trồng trọt, chăn nuôi và thủy sản.Hiểu được tiêu chuẩn VietGAP .
                            </p>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <div class="about-banner about-banner-height" data-bg-image="~/assets/images/about/banner/2-1-1920x500.jpg">
        <div class="popup-btn">

            <iframe width="1000" height="500" src="https://www.youtube.com/embed/UZ5o_MEZX6A" frameborder="0" allowfullscreen></iframe>

        </div>
    </div>
    <div class="team-member section-space-top-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <span class="sub-title text-primary">Công Việc</span>
                <h3 class="mb-0">Đội Ngũ Của Chúng Tôi</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container team-member-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img src="~/assets/images/about/team/nhanvien2.gif" alt="Team Member" />
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Nguyễn Trần An Vy</h6>
                                        <span class="occupation">Kế Toán</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img src="~/assets/images/about/team/nhanvien4.jpg" alt="Team Member" />
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">#VietHoang</h6>
                                        <span class="occupation">Quản lý</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img src="~/assets/images/about/team/nhanvien3.jpg" alt="Team Member" />
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Trần Lê Thanh Huyền</h6>
                                        <span class="occupation">Marketing</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 p-30">
                <div class="shipping-item">
                    <div class="shipping-img ">
                        <img src="~/images/shipping/icon/plane.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Giao hàng miễn phí</h5>
                        <p class="short-desc mb-0">Với đơn hàng từ 500k</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/images/shipping/icon/earphones.jpg" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ 24/7</h5>
                        <p class="short-desc mb-0">Hotline: <strong>0963102916</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/images/shipping/icon/earphones.png" alt="Shipping Icon" />

                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Giờ làm việc</h5>
                        <p class="short-desc mb-0">Từ 6h00 - 19h30 hàng ngày</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
